<div id="page-alert-list"></div>



<div id="left-sidebar" class="container">
    <ul id="left-nav">
        <a>Home</a>
        <a label="Questions" href="/api/questions">Questions</a>
        <a label="Tags" href="/api/questions/tags">Tags</a>
        <a label="Users" href="/api/users">Users</a>
    </ul>
</div>

<script src="/src/partials/leftSideBar.js"></script>