/*   Content   */
#content-sq {
    min-height: 704.4px;
    margin: 0;
    margin-left: 142.5px;
    padding: 0;
    padding-top: 26px;
    flex-direction: column;
}
#content-sq p {
    margin: 0;
}
#content-sq h5 {
    margin: 0;
}
#content-sq h6 {
    margin: 0;
}
/*   Box-1   */
#box-1-sq {
    display: flex;
    margin-top: 10px;
    margin-left: 26px;
    justify-content: space-between;
    align-items: end;
}
#box-1-sq .user-card {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    border: 1px solid hsl(210, 5%, 44%);
    border-radius: 5px;
}
#box-1-sq .card-image {
    border-radius: 5px;
    margin: 10px 10px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}
#box-1-sq .card-body {
    font-size: 13px;
    margin: 0 10px;
    margin-left: 5px;
}
#box-1-sq .card-body h5 {
    font-size: 1.1rem;
}

/*   Box-2   */
#box-2-sq {
    /* border-top: 1px solid hsl(0,0%,60%); */
    display: flex;
    align-items: center;
    margin: 16px;
    /* padding-top: 16px; */
}
.votecell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex: 1;
    margin-right: 10px;
}
.votecell a {
    margin: 5px 0;
}
.votecell i::before{
    /* content: "\f07a"; */
    font-family: 'Font Awesome 6 Free';
    -webkit-text-stroke: 0.4px hsl(0,0%,90%);
    color: transparent;
}
.postcell {
    display: flex;
    flex-direction: column;
    flex: 11;
    margin-top: 10px;
}
.postcell .answer-count {
    font-size: large;
    font-weight: 600;
}
.post-tags {
    margin-top: 20px;
    margin-bottom: 20px;
}
.post-tags .btn {
    font-size: 11px;
    margin-right: 6px;
    margin-bottom: 6px;
    background-color: hsl(205,14%,28%);
    color: hsl(205,46.5%,73.5%);
    border-color: transparent;
}

/*  Box-3  */
#box-3-sq {
    display: flex;
    flex-direction:column;
}
#box-3-sq .answer {
    display: flex;
    align-items: center;
    padding: 12px;
    border-top: 1px solid hsl(0,0%,60%);
}
#box-3-sq .answer-content {
    margin-top: 15px;
    flex: 11;
    display: flex;
    flex-direction: column;
}
#box-3-sq .post-signature {
    display: flex;
    margin-top: 15px;
    font-size: 13px;
    align-self: flex-end;
}
#box-3-sq .user-card {
    display: flex;
    margin-left: 15px;
    align-items: center;
    border-radius: 5px;
}
#box-3-sq .user-card a {
    text-decoration: none;
    color: inherit;
}
#box-3-sq .card-image {
    border-radius: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}
#box-3-sq .card-body {
    font-size: 13px;
    margin: 0 10px;
    margin-left: 5px;
}
/*  Box-5  */
#add-answer .form-floating {
    margin-left: 16px;
}
#add-answer .form-control {
    padding: 12px;
    background-color: hsl(0,0%,15%);
    border-color: hsl(0,0%,60%);
    color: #fff;
    height: 100px;
}
.form-floating button {
    margin: 10px 0;
    background-color: hsl(206, 60%, 40%);
    color: #fff;
    border: 0;
    font-size: 13px;
}
.form-floating button:hover {
    background-color: hsl(206, 60%, 50%);
    color:#fff;
}