<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/../css/style.css" />
</head>
<body>
    

        <div id="sign-form" class="form-box active">
            <i id="form-close" class="fa-solid fa-xmark"></i>
            <h1 id="form-title">Reset Password</h1>
            <form action="/api/auth/resetpassword?<%= query %>" id="sign-form-form" method="post">
                <div class="input-group" 
                style="max-height: 170px;">
    
                    <div id="new-password-field" class="form-input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="text" placeholder="New Password" name="password"/>
                    </div>

                    <div id="confirm-password-field" class="form-input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Confirm New Password" name="confirmPassword"/>
                    </div>
                    
                </div>
    
                <div id="form-alert" class="form-alert"></div>

                <div class="form-btn-field" style="justify-content: center;">
    
                    <button type="submit" id="form-lostpassBtn">Submit</button>
    
                </div>
            </form>
        </div>

        <script>
            const flashAlert = <%- JSON.stringify(flashAlert) %>;
        </script>
        <script src="/src/pages/resetPassword.js"></script>
</body>
</html>